@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1hb7zxy-IndicatorsContainer{
    display: none !important;
}

.css-d3c93u-control{
    border-radius: 0 !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.css-gpkmcd-control{
    border-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

/* carousal css */

